@import "vars"


@media only screen and (max-width: 1200px)
  /**/


/* Medium Devices, Desktops */
@media only screen and (max-width: 992px)
  header .menu li a
    font-size: 13px

  .name-company
    margin: 0 auto 0 10px

  .box-contacts
    margin: 0 15px

  .main-img
    margin: 0 auto

  .tabs__caption
    font-size: 13px

  .about-content
    max-width: none
    width: 100%
    padding: 0
    h5
      text-align: center

  .about-wrapper
    width: 100%

  .about-masters
    font-size: 14px
    .icon
      margin: 0 15px 0 0

  .about-slider-wrap
    width: 100%
    margin: 40px auto 0

  .about-slider__nav
    max-width: none

/* Small Devices, Tablets */
@media only screen and (max-width: 768px)
  .btn-burger
    display: block

  .header-bottom
    display: none

  header
    .btn, .phone
      display: none

  .box-contacts
    margin: 0
    p
      display: none

  .header-box
    margin: 0 auto

  .name-company
    margin: 0 auto 12px
    padding: 20px 0 15px
    width: 100%
    order: -1
    text-align: center
    position: relative
    &:before
      content: ''
      position: absolute
      left: 50%
      transform: translate(-50%,0)
      bottom: 0
      width: calc(100% + 30px)
      height: 1px
      background: #C4C4C4

  .logo
    max-width: 49px

  .header-top
    padding: 0 0 10px

  .advantages
    .tabs__caption
      display: none

  .tabs-click
    display: flex
    align-items: center
    justify-content: center
    border: 2px solid transparent
      bottom: none
    margin: 0 auto -2px
    position: relative
    z-index: 1

  .tabs-click.active
    background: #F9F9F9
    color: $blue
    border: 2px solid #FFE100
      bottom: none

  .tabs-click-content
    padding: 45px 15px 23px
    min-height: auto

  .advantages
    padding: 56px 0 93px


@media only screen and (max-width: 575px)
  .main-content
    max-width: none

@media only screen and (max-width: 480px)
  .description-title
    display: none

  h1
    font-size: 23px
    text-align: center
    margin: 0 auto

  h2
    font-size: 23px
    margin: 0 auto 34px

  main
    background: url("../img/bg1-mobile.png") no-repeat center
      size: cover
    padding: 42px 0 54px
    .btn
      position: absolute
      bottom: 0
      left: 50%
      transform: translate(-50%,0)
      margin: 0 auto

  .main-img
    margin: 71px -40px 86px
    min-width: 401px

  .main-content
    position: initial

  .modal__wrapper
    padding: 40px 30px


@media only screen and (max-width: 320px)
  .main-img
    margin: 71px 0 86px -65px
